body {
  background: black;
  display: flex;
  flex-direction: column;
  color: #E8E2DE;
}

.title {
  margin: auto;
  text-align: center;
  margin-top: 1em;
}

.twitch-list {
  margin-top: 2em;
  margin-left: 20%;
  margin-right: 2em;
}